* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #1ebfc1;
	--black-heading: #0d1111;
	--gray-desc: #9da6a5;
}

html {
	font-size: 62.5%;
	font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	font-size: 1.6rem;
}

/* Common */
a {
	text-decoration: none;
}

.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--height: 68px;

	height: var(--height);
	line-height: var(--height);
	min-width: 186px;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 600;
	text-align: center;
	border-radius: 14px;
	background: #1ebfc1;
	box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
	display: inline-block;
}

.btn:hover {
	opacity: 0.9;
}

/* Header */
.header {
	background: #fff;
	height: 100vh;
}

.header-top.fixed {
	position: sticky;
	top: -36px;
	background: #fff;
}

.header-top {
	padding: 52px 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__list {
	display: flex;
	align-items: center;
}

.navbar__link {
	padding: 4px 20px;
	color: #2f3a3b;
	font-size: 1.6rem;
	font-weight: 400;
}

.navbar__link:hover {
	font-weight: 500;
}

.action__signin,
.action__signup-btn {
	color: #494949;
	font-size: 1.6rem;
	font-weight: 400;
}

.action__signup-btn {
	--height: 48px;

	height: var(--height);
	line-height: var(--height);
	color: var(--primary-color);
	margin-left: 24px;
	padding: 0 8px;
	min-width: 108px;
	font-weight: 600;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #1ebfc1;
	display: inline-block;
}

.action__signup-btn:hover {
	color: #fff;
	background: var(--primary-color);
	transition: all 0.2s;
}

/* Hero */
.hero {
	display: flex;
	align-items: center;
	gap: 130px;
}

.hero__info {
	width: 40%;
}

.hero__caption {
	color: #767e7e;
	font-size: 1.4rem;
	font-weight: 400;
}

.hero__title {
	margin-top: 18px;
	color: var(--black-heading);
	font-size: 6.2rem;
	font-weight: 700;
	line-height: 1.16; /* 116.129% */
}

.hero__desc {
	margin-top: 48px;
	color: #9da6a5;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.77; /* 177.778% */
}

.hero-action {
	display: flex;
	gap: 0 50px;
	margin-top: 52px;
}

.hero-action__play {
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	background: #fff;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero-action__play:hover {
	color: #fff;
	background: var(--primary-color);
	transition: all 0.2s;
	cursor: pointer;
}

.hero__poster{
	margin-top: 50px;
}