* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #1ebfc1;
	--black-heading: #0d1111;
	--gray-desc-l: #9da6a5;
	--gray-desc: #767e7e;
}

html {
	font-size: 62.5%;
	font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
}

/* Common */
a {
	text-decoration: none;
}

.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--height: 68px;

	height: var(--height);
	line-height: var(--height);
	min-width: 186px;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 600;
	text-align: center;
	border-radius: 14px;
	background: #1ebfc1;
	box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
	display: inline-block;
}

.btn:hover {
	opacity: 0.9;
}

.section-name {
	color: var(--gray-desc);
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 2px;
}

.section-heading {
	color: var(--black-heading);
	margin: 18px 0;
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 1.33;
}

.section-desc {
	color: var(--gray-desc);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.6;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: var(--line-clamp, 1);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* Header */
.header.fixed {
	position: sticky;
	top: -36px;
	background: #fff;
	z-index: 1;
}

.header-top {
	padding: 52px 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__list {
	display: flex;
	align-items: center;
}

.navbar__link {
	padding: 4px 20px;
	color: #2f3a3b;
	font-size: 1.6rem;
	font-weight: 400;
}

.navbar__link:hover {
	font-weight: 500;
}

.action__signin,
.action__signup-btn {
	color: #494949;
	font-size: 1.6rem;
	font-weight: 400;
}

.action__signup-btn {
	--height: 48px;

	height: var(--height);
	line-height: var(--height);
	color: var(--primary-color);
	margin-left: 24px;
	padding: 0 8px;
	min-width: 108px;
	font-weight: 600;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #1ebfc1;
	display: inline-block;
}

.action__signup-btn:hover {
	color: #fff;
	background: var(--primary-color);
	transition: all 0.2s;
}

/* Hero */
.hero {
	display: flex;
	align-items: center;
	gap: 130px;
}

.hero__info {
	width: 40%;
}

.hero__caption {
	color: var(--gray-desc);
	font-size: 1.4rem;
	font-weight: 400;
}

.hero__title {
	margin-top: 18px;
	color: var(--black-heading);
	font-size: 6.2rem;
	font-weight: 700;
	line-height: 1.16; /* 116.129% */
}

.hero__desc {
	margin-top: 48px;
	color: var(--gray-desc-l);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.77; /* 177.778% */
}

.hero-action {
	display: flex;
	gap: 0 50px;
	margin-top: 52px;
}

.hero-action__play {
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	background: #fff;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero-action__play:hover {
	color: #fff;
	background: var(--primary-color);
	transition: all 0.2s;
	cursor: pointer;
}

.hero__poster {
	margin-top: 50px;
	position: relative;
}

.hero__course {
	display: flex;
	align-items: center;
	top: 149px;
	left: -40px;
	padding: 17px 25px;
}

.hero__book {
	position: relative;
}

.hero__course-line {
	position: absolute;
	left: 4px;
	bottom: 8px;
}

.hero__text-heading {
	margin-left: 16px;
	color: #0d1111;
	font-size: 10px;
	font-weight: 500;
	line-height: 1.6;
}

.hero__quantity {
	display: block;
}

.hero__course,
.hero__schedule,
.hero__student {
	position: absolute;
	border-radius: 24px;
	background: #fefefd;
	box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero__schedule {
	bottom: 46px;
	left: -65px;
	width: 124px;
	padding: 16px 25px 23px;
}

.hero__timeline {
	display: flex;
	flex-direction: column;
	gap: 12px 0;
}

.hero__line:first-child {
	margin-top: 16px;
}

.hero__line {
	position: relative;
	width: 100%;
	height: 6px;
	border-radius: 999px;
	background: #edf1f5;
	display: inline-block;
}

.hero__line:last-child {
	width: 26px;
	margin: 0 auto;
}

.hero__line::before {
	position: absolute;
	content: "";
	display: inline-block;
	height: 6px;
	background: #fb9899;
	border-radius: 999px;
}

.hero__line:first-child:before {
	width: 52.7%;
}

.hero__line:nth-child(2):before {
	width: 68%;
}

.hero__line:nth-child(3):before {
	width: 44.5%;
}

.hero__student {
	right: 45px;
	bottom: 41px;
	width: 207px;
	padding: 17px 35px 17px 20px;
	text-align: center;
}

.hero__avatar-group {
	display: flex;
	margin-top: 8px;
}

.hero__avatar {
	margin-left: -7px;
	width: 33px;
	height: 33px;
	object-fit: cover;
	border-radius: 50%;
}

.hero__avatar--quantity {
	font-size: 1rem;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--primary-color);
	flex-shrink: 0;
}

.hero__avatar:first-child {
	margin-left: 14px;
}

/* FEATURES */
.feature {
	margin-top: 80px;
	padding: 130px 0;
}

.feature__heading {
	width: 577px;
}

.feature__desc {
	width: 590px;
}

.feature__list {
	margin-top: 80px;
	display: grid;
	grid-template-columns: repeat(3, 0.3fr);
	gap: 0 209px;
}

.feature-item__heading {
	color: var(--black-heading);
	margin: 26px 0 16px;
	font-size: 2rem;
	font-weight: 600;
}

.feature-item__desc {
	color: var(--gray-desc-l);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.68; /* 168.75% */
}

/* Courses */
.course {
	padding: 130px 0;
}

.course__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.course__desc {
	width: 525px;
}

.course__link {
	color: var(--primary-color);
	font-size: 1.4rem;
	font-weight: 700;
	text-decoration: underline;
}

.course__list {
	margin-top: 80px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 47px;
}

.course-item {
	position: relative;
}

.course-item__img {
	width: 100%;
	height: 393px;
	object-fit: cover;
	border-radius: 8px;
}

.course-item__body {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 322px;
	padding: 18px;
	min-width: 325px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-item__heading {
	color: var(--black-heading);
	font-size: 2.2rem;
	font-weight: 700;
	margin-bottom: 16px;
}

.course-item__info,
.course-item__cost,
.course-item__desc {
	color: var(--gray-desc);
	font-size: 1.6rem;
	font-weight: 400;
}

.course-item__cost strong {
	color: var(--black-heading);
	font-size: 2.2rem;
	font-weight: 700;
}

.course-item__desc {
	margin-top: 16px;
	line-height: 1.5;
}

.course-item__row {
	display: flex;
	margin-top: 18px;
	gap: 0 26px;
}

.course-item__info {
	position: relative;
	padding-left: 16px;
}

.course-item__info::before {
	position: absolute;
	left: 0;
	top: 5px;
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background: var(--primary-color);
	border-radius: 50%;
}

/* Achievement */
.achievement {
	margin-top: 165px;
	padding: 100px 0;
}

.achievement__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 202px;
	text-align: center;
}

.achievement__quantity {
	color: var(--black-heading);
	font-size: 6.2rem;
	font-weight: 700;
}

.achievement__desc {
	margin-top: 12px;
	color: var(--gray-desc-l);
	font-size: 1.8rem;
	font-weight: 400;
}

/* People */
.people {
	margin-top: 34px;
	padding: 130px 0;
}

.people__inner {
	display: flex;
	align-items: center;
	gap: 0 72px;
}

.people__quote-block {
	width: 36%;
}

.people__quote {
	margin-top: 27px;
	color: #5d6564;
	font-size: 3.2rem;
	font-weight: 400;
	line-height: 1.5; /* 150% */
}

.people__author {
	margin-top: 33px;
	color: var(--gray-desc);
	font-size: 1.6rem;
	font-weight: 400;
}

.people__name {
	color: #070707;
	font-size: 1.6rem;
	font-weight: 500;
}

.people__cta {
	margin-top: 52px;
	display: flex;
	gap: 0 30px;
}

.people__cta-btn {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--primary-color);
}

.people__cta-btn:hover {
	background: transparent;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	cursor: pointer;
}

.people__quote-avatar {
	flex-grow: 1;
	min-height: 481px;
	position: relative;
}

.people__avatar {
	position: absolute;
	border-radius: 50%;
}

.people__avatar:first-child {
	top: 107px;
	right: 117px;
	background: #ff8282;
}

.people__avatar:nth-child(2) {
	left: 144px;
	background: #1ebfc1;
}

.people__avatar:nth-child(3) {
	background: #bf83ff;
	right: 0;
}

.people__avatar:nth-child(4) {
	background: #b1dfdc;
	bottom: 29px;
	right: 32px;
}

.people__avatar:nth-child(5) {
	background: #ff947a;
	left: 212px;
	bottom: 0;
}

.people__avatar:last-child {
	background: #ffc147;
	bottom: 145px;
	left: 0;
}

/* Admit */
.admit {
	padding: 76px 0 88px;
	background: #def6f5;
}

.admit__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
